/* ************************************************** */
/* Scroll Button Styling */
/* ************************************************** */
.scrollButton {
    position: fixed;
    min-width: 50px;
    left: 85%;
    bottom: 40px;
    min-height: 20px;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    color: var(--first-color);
}

@media only screen and (max-width: 768px) {
    .scrollButton {
        left: 80%;
    }
}
