body,
html {
    padding: 0px;
    margin: 0px;
    font-family: "Comfortaa", cursive;
    font-weight: bold;
    color: #fff;
    background: rgb(0, 0, 0);
    scroll-behavior: smooth;
}

div {
    display: flex;
    justify-content: center;
}
h1 {
    color: white;
}

header {
    width: 92vw;
    padding: 6vh 4vw;
    position: absolute;
    font-weight: bold;
    background: transparent;
    color: #fff;
    transition: 0.1s ease-in-out;
    z-index: 2;
}
header table {
    width: 100%;
}
#navigation {
    width: 80%;
    text-align: right;
}
#navigation a {
    color: inherit;
    text-decoration: none;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    margin-left: 4vw;
    transition: 0.4s ease-in-out;
}
#navigation a:hover {
    border-bottom: 2px solid #fff;
}
#title {
    font-size: 40px;
    background-image: linear-gradient(to left, #ff416c 0%, #ff4b2b 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% 500% !important;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    -o-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
    font-family: "Comfortaa", cursive;
}
