body,
html {
    padding: 0px;
    margin: 0px;
    font-family: "Comfortaa", cursive;
    font-weight: bold;
    color: #fff;
    background: rgb(0, 0, 0);
    scroll-behavior: smooth;
}
#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #000;
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#spinner {
    animation: rotate 0.56s infinite linear;
    width: 60px;
    height: 60px;
    border: 6px solid #fff;
    border-bottom: 6px solid #000;
    border-radius: 50%;
    margin: 0;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* #header {
    width: 80%;
    padding: 4% 10%;
    text-align: center;
    position: absolute;
    transition: 0.6s ease-in-out;
}
#header div {
    display: block;
} */

header {
    width: 92vw;
    padding: 6vh 4vw;
    position: absolute;
    font-weight: bold;
    background: transparent;
    color: #fff;
    transition: 0.4s ease-in-out;
    z-index: 2;
}
header table {
    width: 100%;
}
/* #logo {
    width: 20%;
} */
#navigation {
    width: 80%;
}
#magnify {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.92);
    position: fixed;
    z-index: 4;
    display: none;
    flex-direction: column;
    justify-content: center;
}
#magnify h1 {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 40px;
    color: #fff;
    transition: 0.4s ease-in-out;
}
#magnify h1:hover {
    color: rgb(255, 44, 90);
    cursor: pointer;
}
#img_here {
    width: 90%;
    height: 90%;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    margin: 0px auto;
}
/* #logo {
    font-size: 24px;
    color: rgb(255, 44, 90);
} */
#navigation {
    text-align: right;
}
#navigation a {
    color: inherit;
    text-decoration: none;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    margin-left: 4vw;
    transition: 0.4s ease-in-out;
}
#navigation a:hover {
    border-bottom: 2px solid #fff;
}

#title {
    font-size: 40px;
    background-image: linear-gradient(to left, #ff416c 0%, #ff4b2b 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% 500% !important;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    -o-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
    font-family: "Comfortaa", cursive;
}
#links {
    margin: 40px 0px;
    transition: 0.6s ease-in-out;
    color: #fff;
}
#links a {
    margin: 0px 30px;
    color: inherit;
    text-decoration: none;
    transition: 0.4s ease-in-out;
    padding: 5px 8px;
    border-bottom: 2px solid transparent;
}
#links a:hover {
    border-bottom: 2px solid #fff;
}
#middle {
    width: 100%;
    height: 80vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
        url("img1.jpg") center center fixed;
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 1s ease-in-out;
    padding-top: 20vh;
}
#tagline {
    font-size: 50px;
    width: 60%;
}
#portfolio {
    width: 80%;
    padding: 2% 10%;
}
#portfolio div h1 {
    font-size: 40px;
    background-image: linear-gradient(to left, #ff416c 0%, #ff4b2b 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% 500% !important;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    -o-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
    font-family: "Comfortaa", cursive;
}
#about {
    margin: 4vh 0px !important;
    padding: 2vh 0px !important;
}
#work {
    margin: 4vh 0px !important;
    padding: 2vh 0px !important;
}
#photos {
    width: 100%;
    columns: 3;
    column-gap: 4%;
    z-index: 1;
    transition: 0.4s ease-in-out;
}
#photos img {
    width: 100%;
    height: auto;
    margin: 4.5% 0px;
    transition: 0.4s ease-in-out;
}
#photos img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
#skills {
    margin: 4vh 0px !important;
    padding: 2vh 0px !important;
}
#skills ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}
/* #skills li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: #374054;
    background: #e4e4ea;
    list-style: none;
    cursor: default;
    font-size: 1.2em;
} */
#contact {
    margin: 4vh 0px !important;
    padding: 2vh 0px !important;
}
#contact form {
    width: 100%;
}
#contact form input {
    width: 46%;
    margin: 20px 1%;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding: 8px 10px;
    font-family: "Comfortaa", cursive;
    font-size: 18px;
    transition: 0.4s ease-in-out;
    color: #fff;
}
#contact form textarea {
    width: 96%;
    margin: 20px 1%;
    padding: 8px 10px;
    border: 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding: 8px 10px;
    font-family: "Comfortaa", cursive;
    font-size: 18px;
    background: transparent;
    resize: none;
    transition: 0.4s ease-in-out;
    color: #fff;
}
#contact form input:focus {
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}
#contact form textarea:focus {
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}
::placeholder {
    color: #fff;
}
.btn_one {
    color: white;
    padding: 10px 40px;
    border-radius: 50px;
    border: 2px solid #fff;
    font-size: 18px;
    font-family: "Comfortaa", cursive;
    font-weight: bold;
    background: transparent;
    transition: 0.4s ease-in-out;
    margin: 30px 10px;
}
.btn_one:hover {
    background: white;
    cursor: pointer;
    color: #000;
}
.project div {
    font-weight: normal;
}
.btn_two {
    color: #000;
    padding: 10px 40px;
    border-radius: 50px;
    border: 2px solid #fff;
    font-size: 18px;
    font-family: "Comfortaa", cursive;
    font-weight: bold;
    background: #fff;
    transition: 0.4s ease-in-out;
    margin: 30px 10px;
}
.btn_two:hover {
    background: transparent;
    cursor: pointer;
    color: #fff;
}
#details {
    margin: 6vh 0px;
}
.btn_social {
    font-size: 18px;
    color: #fff;
    margin: 40px 20px;
    padding: 15px 18px;
    border-radius: 50%;
    background: #000;
    transition: 0.4s ease-in-out;
}
.btn_social:hover {
    color: #000;
    background: #fff;
    cursor: pointer;
}
@media (max-width: 900px) {
    /* #header {
        width: 94%;
        padding: 15% 3%;
    } */
    #photos {
        columns: 1;
        column-gap: 0%;
    }
    #photos img {
        margin: 2% 0px;
    }
    #photos img:hover {
        transform: scale(1);
        cursor: pointer;
    }
    header {
        width: 96vw;
        background: #fff;
        padding: 4vh 2vw;
        position: absolute;
    }
    #header table tr td {
        width: 100%;
        display: block;
        text-align: center;
        padding: 15px 0px;
    }
    #navigation a {
        color: #000;
    }
    #title {
        font-size: 30px;
    }
    #links {
        margin: 30px 0px;
    }
    #links a {
        margin: 0px;
    }
    #middle {
        width: 100%;
        border-radius: 0px;
        height: 80vh;
        background-size: cover;
    }
    #tagline {
        width: 90%;
        font-size: 30px;
    }
    .btn_one {
        font-size: 14px;
        padding: 8px 20px;
    }
    .btn_two {
        font-size: 14px;
        padding: 8px 20px;
    }
    #contact form input {
        width: 92%;
    }
    #contact form textarea {
        width: 92%;
    }
    .btn_social {
        font-size: 14px;
        margin: 10px;
        padding: 10px 11px;
    }
}
#footer {
    width: 100%;
    padding: 10vh 0px;
    text-align: center;
    font-weight: bold;
}
#footer a {
    font-size: 18px;
    background-image: linear-gradient(to left, #ff416c 0%, #ff4b2b 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% 500% !important;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    -o-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
    font-family: "Comfortaa", cursive;
    text-decoration: none;
}
button:focus {
    outline: none;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #000;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
