/* ************************************************** */
/* Landing Section Styling */
/* ************************************************** */
.landing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.landing div:nth-child(1) {
    min-width: 250px;
}
.landing h4 a {
    text-decoration: none;
    color: var(--first-color);
}
.landing div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}
#dp {
    height: 175px;
}
h1,
#resume,
.landing h4 {
    margin: 20px 0px 20px 0px;
}
#resume:hover {
    color: var(--second-color);
    cursor: pointer;
}
.typing {
    color: var(--second-color);
}
.social-links {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social-links li {
    list-style-type: none;
    margin-right: 30px;
}
.social-links li a {
    text-decoration: none;
    color: var(--second-color);
    cursor: pointer;
}
.social-links li a:hover {
    color: var(--first-color);
}
