/* ************************************************** */
/* Header Styling */
/* ************************************************** */
header {
    position: sticky;
    background: transparent;
    width: 50vw;
    margin: 40px auto 60px auto;
    top: 0;
    left: 0;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    color: var(--second-color);
    margin: 10px;
}
nav ul li a {
    text-decoration: none;
    color: var(--second-color);
}
nav ul li a:hover {
    color: var(--first-color);
}
.menu-icon {
    width: 30px;
    cursor: pointer;
    display: none;
}
nav #hidden {
    display: flex;
}

@media only screen and (max-width: 1400px) {
    header {
        width: 65vw;
    }
}
@media only screen and (max-width: 1048px) {
    header {
        width: 75vw;
    }
}
@media only screen and (max-width: 768px) {
    header {
        width: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    nav ul {
        right: 0;
        z-index: 2;
        flex-direction: column;
        margin-top: 20px;
        /* position: absolute; */
    }
    nav ul li {
        /* display: block; */
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
    }
    .menu-icon {
        display: block;
        margin-left: auto;
    }
    .nav-menu {
        display: none;
    }
    #hidden {
        max-height: 190px;
        overflow: hidden;
        transition: 0.3s;
    }
}
