.theme-dark {
    --first-color: #44f1a6;
    --second-color: #ffffff;
    --third-color: #000000;
    --gradient-col1: #181818;
    --gradient-col2: #000000;
}
.theme-light {
    --first-color: #36c98a;
    --second-color: #000000;
    --third-color: #ffffff;
    --gradient-col1: #f5f7fa;
    --gradient-col2: #b8c6db;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "PT Mono", monospace;
    background: var(--third-color);
    scroll-behavior: smooth;
}
.wrapper {
    width: 100%;
    min-height: 100vh;
    padding-left: 4%;
    padding-right: 4%;
    overflow: hidden;
    background: linear-gradient(
            180deg,
            var(--gradient-col1),
            var(--gradient-col2)
        )
        fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container {
    display: flex;
    flex-direction: column;
}
section {
    width: 50vw;
    padding: 10px 25px;
    margin: 30px auto;
}
h1,
h2 {
    color: var(--first-color);
}
/* ************************************************** */
/* Media Queries */
/* ************************************************** */
@media only screen and (max-width: 1400px) {
    section {
        width: 65vw;
        margin: 15px auto;
    }
}

@media only screen and (max-width: 1048px) {
    section {
        width: 75vw;
        margin: 15px auto;
    }
}

@media only screen and (max-width: 768px) {
    section {
        width: 90vw;
        margin: 15px auto;
    }
}
